In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel('doubandata.xlsx')
df.head()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [4]:
df.tail()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [5]:
df.iloc[0]

名字                   肖申克的救赎
投票人数                 692795
类型                    剧情/犯罪
产地                       美国
上映时间    1994-09-10 00:00:00
时长                      142
年代                     1994
评分                      9.6
首映地点                 多伦多电影节
Name: 0, dtype: object

In [6]:
df.iloc[0: 5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [7]:
df.loc[0: 5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

#### 添加一行

In [8]:
dit={'名字':'复仇者联盟3', '投票人数':123456, '类型':'剧情/科幻',  '产地':'美国', '上映时间':'2018-05-04 00:00:00', '时长':'142',
     '年代':2018, '评分':8.7, '首映地点':'美国'}
s=pd.Series(dit)

s.name=38738
s

名字                   复仇者联盟3
投票人数                 123456
类型                    剧情/科幻
产地                       美国
上映时间    2018-05-04 00:00:00
时长                      142
年代                     2018
评分                      8.7
首映地点                     美国
Name: 38738, dtype: object

In [9]:
df=df.append(s)
df

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
...,...,...,...,...,...,...,...,...,...
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国
38738,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,8.7,美国

#### 删除一行

In [10]:
df=df.drop([38738])
df.tail()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [11]:
df.columns

Index(['名字', '投票人数', '类型', '产地', '上映时间', '时长', '年代', '评分', '首映地点'], dtype='object')

In [12]:
df['名字'][:5]

0    肖申克的救赎
1      控方证人
2     美丽人生
3      阿甘正传
4      霸王别姬
Name: 名字, dtype: object

In [13]:
df[['名字', '类型']]

                                                      名字              类型
0                                                 肖申克的救赎           剧情/犯罪
1                                                   控方证人        剧情/悬疑/犯罪
2                                                  美丽人生         剧情/喜剧/爱情
3                                                   阿甘正传           剧情/爱情
4                                                   霸王别姬        剧情/爱情/同性
...                                                  ...             ...
38733                                              神学院 S           Adult
38734                                              1935年           喜剧/歌舞
38735                                               血溅画屏  剧情/悬疑/犯罪/武侠/古装
38736                                             魔窟中的幻想        惊悚/恐怖/儿童
38737  列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...           剧情/战争

[38738 rows x 2 columns]

#### 增加一列

In [14]:
df['序号']=range(1, len(df)+1)
df.head()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,序号
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,1
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,2
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,3
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,4
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,5

#### 删除一列

In [15]:
df=df.drop('序号', axis=1)
df.head()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

#### 通过标签选择数据

In [16]:
df.loc[1, '名字']

'控方证人'

In [17]:
df.loc[[1, 3, 5, 7, 9], ['名字', '评分']]

                                      名字   评分
1                                   控方证人  9.5
3                                   阿甘正传  9.4
5                                 泰坦尼克号   9.4
7  新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai  9.4
9                               这个杀手不太冷   9.4

#### 条件选择

In [18]:
df[df['产地']=='美国'][:5]

       名字      投票人数        类型  产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795.0     剧情/犯罪  美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995.0  剧情/悬疑/犯罪  美国  1957-12-17 00:00:00  116  1957  9.5      美国
3    阿甘正传  580897.0     剧情/爱情  美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
5  泰坦尼克号   157074.0  剧情/爱情/灾难  美国  2012-04-10 00:00:00  194  2012  9.4    中国大陆
6  辛德勒的名单  306904.0  剧情/历史/战争  美国  1993-11-30 00:00:00  195  1993  9.4   华盛顿首映

In [19]:
df[(df.产地=='美国') & (df.评分>9)]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
...,...,...,...,...,...,...,...,...,...
37951,欢乐树的朋友们：赶尽杀绝,4151.0,喜剧/动画,美国,2005-11-28 00:00:00,84,2005,9.2,美国
38119,山那边,70.0,剧情,美国,1975-11-14 00:00:00,103,1975,9.1,美国
38452,奎,62.0,纪录片/短片,美国,2015-08-19 00:00:00,9,2015,9.1,纽约电影论坛
38465,十二怒汉,466.0,剧情/悬疑/犯罪,美国,1954-09-20 00:00:00,52,1954,9.3,美国
38690,周六夜现场,193.0,喜剧/音乐,美国,2003-10-11 00:00:00,90,2003,9.4,美国

In [20]:
df[((df.产地=='美国') | (df.产地=='中国大陆')) & (df.评分>9)]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
...,...,...,...,...,...,...,...,...,...
37951,欢乐树的朋友们：赶尽杀绝,4151.0,喜剧/动画,美国,2005-11-28 00:00:00,84,2005,9.2,美国
38119,山那边,70.0,剧情,美国,1975-11-14 00:00:00,103,1975,9.1,美国
38452,奎,62.0,纪录片/短片,美国,2015-08-19 00:00:00,9,2015,9.1,纽约电影论坛
38465,十二怒汉,466.0,剧情/悬疑/犯罪,美国,1954-09-20 00:00:00,52,1954,9.3,美国
38690,周六夜现场,193.0,喜剧/音乐,美国,2003-10-11 00:00:00,90,2003,9.4,美国

### 缺失值处理

#### 判断缺失值

In [21]:
df[df['名字'].isnull()]

        名字    投票人数        类型  产地                 上映时间   时长    年代   评分 首映地点
231    NaN   144.0    纪录片/音乐  韩国  2011-02-02 00:00:00   90  2011  9.7   美国
361    NaN    80.0        短片  其他  1905-05-17 00:00:00    4  1964  5.7   美国
369    NaN  5315.0        剧情  日本  2004-07-10 00:00:00  111  2004  7.5   日本
372    NaN   263.0     短片/音乐  英国  1998-06-30 00:00:00   34  1998  9.2   美国
374    NaN    47.0        短片  其他  1905-05-17 00:00:00    3  1964  6.7   美国
...    ...     ...       ...  ..                  ...  ...   ...  ...  ...
38523  NaN  2190.0  动作/恐怖/战争  日本  1905-06-27 00:00:00   85  2005  7.0   美国
38555  NaN    32.0       纪录片  美国  1905-06-19 00:00:00   88  1997  8.1   美国
38560  NaN    49.0    纪录片/音乐  美国  2004-09-25 00:00:00  107  2004  8.4   美国
38643  NaN    62.0        恐怖  美国  2003-12-30 00:00:00   90  2003  5.2   美国
38656  NaN    54.0     喜剧/恐怖  其他  2004-01-29 00:00:00   30  2004  8.7   美国

[560 rows x 9 columns]

#### 填充缺失值

In [22]:
dit={'名字':'复仇者联盟3', '投票人数':123456, '类型':'剧情/科幻',  '产地':'美国', '上映时间':'2018-05-04 00:00:00', '时长':'142',
     '年代':2018, '评分':np.nan, '首映地点':'美国'}
s=pd.Series(dit)

s.name=38738
df=df.append(s)

In [23]:
df[df['评分'].isnull()]

           名字      投票人数     类型  产地                 上映时间   时长    年代  评分 首映地点
38738  复仇者联盟3  123456.0  剧情/科幻  美国  2018-05-04 00:00:00  142  2018 NaN   美国

In [24]:
df['评分'].fillna(np.mean(df['评分']), inplace=True)
df.tail()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.600000,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.100000,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.000000,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.600000,美国
38738,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04 00:00:00,142,2018,6.935704,美国

#### 删除缺失值

In [25]:
len(df)

38739

In [26]:
df1=df.dropna()
len(df1)

38176

In [27]:
df.dropna(inplace=True)

In [28]:
df.to_excel('movie_data.xlsx', index=False)